

.mat-form-field {
    width: 100%;
    min-width: 500px;
  }
  .mat-card-content{
    padding: 60px;
  }
  .signup{
    float: right;
    margin-top: 10px;
    text-decoration: none;
  }
  @media (min-width : 320px){
    .dashboard{
        background-color: royalblue !important;
        display: flex;
        height: 100%;
    }
    .mat-card{
        font-size: 16px !important;
    }
    .mat-card-content{
        padding: 0;
      }
    .mat-card{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
        width: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .mat-form-field{
        width: 100%;
        min-width: 250px;
    } 
}
@media (min-width : 380px){
    .dashboard{
        background-color: royalblue !important;
        display: flex;
        height: 100%;
    }
    /* .mat-card-title, .mat-card{
        font-size: 16px !important;
    }
    .mat-form-field{
        width: 100%;
        min-width: 250px;
    }  */
}
@media (min-width : 481px){
    .dashboard{
        background-color: royalblue !important;
        display: flex;
        height: 100%;
    }
    /* .mat-card-title, .mat-card{
        font-size: 16px !important;
    }
    .mat-form-field{
        width: 100%;
        min-width: 250px;
    }  */
}
@media (min-width : 1200px){
    .dashboard{
        background-color: white !important;
        display: flex;
        height: 100%;
    }
    .mat-card-title, .mat-card{
        font-size: 24px !important;
    }
    .mat-card-content{
        padding: 60px;
      }
    .mat-card{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
        width: 400px;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .mat-form-field{
        width: 100%;
        min-width: 250px;
    } 
}