<div class="dashboard">
   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-title>Login Form</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                            Email is required
                          </mat-error>
                      </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                            Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
                          </mat-error>
                          <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                            Password is required
                          </mat-error> 
                    </mat-form-field>
                </p><br>
                <button mat-raised-button color="primary">Submit</button>
        
              <div class=""><a href="/signup" class="signup">Signup</a></div>
            
            </mat-card-content>
        </mat-card>
    </form>
</div>